.breadcrumbs{
  display:flex;
  justify-content: flex-end;
  .breadcrumb-item{
    text-decoration:none;
    color:#8795a1;
    &:after{
      content:" > ";
      margin:0px 5px;
    }
    &:last-child{
      color:#0659a5;
      &:after{
        content:"";
      }
    }
  }
}